<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>学生管理</title>
    <!-- Bootstrap core CSS -->
    <link href="/static/plugins/bootstrap-3.3.7/css/bootstrap.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="/static/css/dashboard.css" rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">学生管理系统</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">Dashboard</a></li>
                <li><a href="#">Settings</a></li>
                <li><a href="#">Profile</a></li>
                <li><a href="#">Help</a></li>
            </ul>
            <form class="navbar-form navbar-right">
                <input type="text" class="form-control" placeholder="Search...">
            </form>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <li><a href="/classes_list/">班级管理 <span class="sr-only">(current)</span></a></li>
                <li class="active"><a href="/students_list/">学生管理</a></li>
                <li><a href="/teachers_list/">老师管理</a></li>
                <li><a href="/courses_list/">课程管理</a></li>
                <li><a href="/score_list/">分数管理</a></li>
            </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">学生展示</h3>
                </div>
                <div class="panel-body">
                    <a href="/add_student/" class="btn btn-success" style="margin-left: 0px">添加</a>
                    <div class="table-responsive">
                        <table class="table table-striped table-hover">
                            <div class="container-fluid">
                                <table class="table  table-bordered table-hover">
                                    <thead>
                                    <tr>
                                        <th>序号</th>
                                        <th>学生ID</th>
                                        <th>学生级名称</th>
                                        <th>性别</th>
                                        <th>所属班级</th>
                                        <th>所选课程</th>
                                        <th>操作</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for student in all_students %}
                                        <tr>
                                            <td>{{ forloop.counter }}</td>
                                            <td>{{ student.pk }}</td>
                                            <td>{{ student.sname }}</td>
                                            <td>{{ student.gender }}</td>
                                            <td>{{ student.classes.name }}</td>
                                            <td>
                                                {% for course in student.courses_set.all %}
                                                    {% if forloop.last %}
                                                        《{{ course.cname }}》
                                                    {% else %}
                                                        《{{ course.cname }}》|
                                                    {% endif %}

                                                {% endfor %}

                                                {#                                                {{ student.courses_set.all }}#}
                                            </td>
                                            <td>
                                                <a href="/edit_student/?pk={{ student.pk }}" class="btn btn-info">修改</a>
                                                <a href="/del_student/?pk={{ student.pk }}"
                                                   class="btn btn-danger">删除</a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>

                                </table>
                            </div>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


</body>
</html>
